.*.swp
__pycache__
*.pyc
.DS_Store
*.zip
.~lock.*#
~$*.docx
*.mp3
*.xz
*.pdf
*.xlsx
*.secret
sandbox
htmlcov
.coverage
*.xcuserstate
*.xcuserdatad
standards/real-books
standards/auto-*
*.mscz
.mscbackup
*.mkv
